[Unit]
Description=SHIMMER-INX-MQTT
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-mqtt
LimitNOFILE=8192
SyslogIdentifier=shimmer-inx-mqtt
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/ishimmer-inx-mqtt
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-mqtt $OPTIONS

[Install]
WantedBy=multi-user.target