[Unit]
Description=SHIMMER-INX-INDEXER
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-indexer
LimitNOFILE=8192
SyslogIdentifier=shimmer-inx-indexer
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-indexer
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-indexer $OPTIONS

[Install]
WantedBy=multi-user.target