#links{
    height: 20%;
    width: 20%;
    background-color:#202836;
    border: 10px solid black;
    border-radius: 50vw;
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 40%;
}

#tanglebay_logo{
    width: 5%;
    height: auto;
    position: fixed;
    top: 42%;
    left: 47.5%;
}

#iota_logo{
    width: 8%;
    height: auto;
    position: fixed;
    top: 52%;
    left: 45.5%;
}

#hornet_logo{
    height: 50%;
    width: 50%;
    border: solid black;
    border-width: 10px 5px 5px 10px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top:  0;
}

#bee_logo{
    height: 50%;
    width: 50%;
    border: solid black;
    border-width: 10px 10px 5px 5px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
}

#goshimmer_logo{
    height: 50vh;
    width: 50vw;
    border: solid black;
    border-width: 5px 5px 10px 10px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
}

#wasp_logo{
    height: 50vh;
    width: 50vw;
    border: solid black;
    border-width: 5px 10px 10px 5px;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
}