[Unit]
Description=HORNET-SHIMMER
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/hornet-shimmer
LimitNOFILE=8192
SyslogIdentifier=hornet-shimmer
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=hornet
WorkingDirectory=/var/lib/hornet-shimmer
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/hornet-shimmer $OPTIONS

[Install]
WantedBy=multi-user.target