[Unit]
Description=SHIMMER-HORNET
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/shimmer-hornet
LimitNOFILE=8192
SyslogIdentifier=shimmer-hornet
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=hornet
WorkingDirectory=/var/lib/shimmer-hornet
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-hornet $OPTIONS

[Install]
WantedBy=multi-user.target