[Unit]
Description=Bee
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/bee-shimmer
WorkingDirectory=/var/lib/bee-shimmer
ExecStart=/usr/bin/bee-shimmer $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=infinity
KillMode=process
Restart=on-failure
RestartSec=100
Type=simple
User=bee
Group=bee
SyslogIdentifier=bee-shimmer

[Install]
WantedBy=multi-user.target