
[Unit]
Description=SHIMMER-INX-POI
Wants=network-online.target
After=network-online.target
After=shimmer-hornet.service shimmer-bee.service
PartOf=shimmer-hornet.service shimmer-bee.service

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-poi
LimitNOFILE=8192
SyslogIdentifier=shimmer-inx-poi
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-poi
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-poi $OPTIONS

[Install]
WantedBy=multi-user.target