# Version 2
[Unit]
Description=IOTA-INX-IRC-METADATA
StartLimitIntervalSec=300
StartLimitBurst=3
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/iota-inx-irc-metadata
LimitNOFILE=16384
SyslogIdentifier=iota-inx-irc-metadata
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/iota-inx-irc-metadata
TimeoutSec=1200
Restart=always
RestartSec=60
ExecStart=/usr/bin/iota-inx-irc-metadata $OPTIONS

[Install]
WantedBy=multi-user.target