# Version 0
[Unit]
Description=IOTA-INX-PARTICIPATION
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/iota-inx-participation
LimitNOFILE=8192
SyslogIdentifier=iota-inx-participation
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/iota-inx-participation
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/iota-inx-participation $OPTIONS

[Install]
WantedBy=multi-user.target