# Version 3
[Unit]
Description=SHIMMER-INX-MQTT
Wants=network-online.target
After=shimmer-hornet.service network-online.target
Requires=shimmer-hornet.service
PartOf=shimmer-hornet.service

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-mqtt
LimitNOFILE=8192
SyslogIdentifier=shimmer-inx-mqtt
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-mqtt
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-mqtt $OPTIONS

[Install]
WantedBy=multi-user.target shimmer-hornet.service