# Version 1
[Unit]
Description=SHIMMER-WASP
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/shimmer-wasp
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shimmer-wasp
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=wasp
WorkingDirectory=/var/lib/shimmer-wasp
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-wasp $OPTIONS

[Install]
WantedBy=multi-user.target