# Version 5
[Unit]
Description=SHIMMER-INX-DASHBOARD
Wants=network-online.target shimmer-hornet.service
After=network-online.target shimmer-hornet.service

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-dashboard
LimitNOFILE=8192
SyslogIdentifier=shimmer-inx-dashboard
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-dashboard
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-dashboard $OPTIONS

[Install]
WantedBy=multi-user.target shimmer-hornet.service