# Version 2
[Unit]
Description=SHIMMER-INX-PARTICIPATION
Wants=network-online.target
Requires=shimmer-hornet.service
After=shimmer-hornet.service network-online.target
PartOf=shimmer-hornet.service

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-participation
LimitNOFILE=8192
SyslogIdentifier=shimmer-inx-participation
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-participation
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-participation $OPTIONS

[Install]
WantedBy=multi-user.target