# Version 2
[Unit]
Description=SHIMMER-INX-IRC-METADATA
StartLimitIntervalSec=300
StartLimitBurst=3
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-irc-metadata
LimitNOFILE=16384
SyslogIdentifier=shimmer-inx-irc-metadata
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-irc-metadata
TimeoutSec=1200
Restart=always
RestartSec=60
ExecStart=/usr/bin/shimmer-inx-irc-metadata $OPTIONS

[Install]
WantedBy=multi-user.target