# Version 7
[Unit]
Description=SHIMMER-INX-PARTICIPATION
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/shimmer-inx-participation
LimitNOFILE=16384
SyslogIdentifier=shimmer-inx-participation
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/shimmer-inx-participation
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/shimmer-inx-participation $OPTIONS

[Install]
WantedBy=multi-user.target