############################################################################################################################################
############################################################################################################################################
# CONFIG FOR HORNET
############################################################################################################################################
############################################################################################################################################

# Set "stable" for official release or "testing" for releases under development 
release=stable

# Set in which network your node should participate (mainnet/testnet)
network=mainnet

############################################################################################################################################
# GENERAL SETTINGS
############################################################################################################################################

# Define an alias for your node
nodeAlias=HORNET

# Define if your node should do pow
pow=true

# Define the numbers of cores to do pow (should be 4core CPU - 1 = 3) 
powWorkers=1

# Define the neighbor port of your hornet node (default = 15600/tcp).
# Please note this is only recommended if you running more than one iota node in your network
neighborPort=15600

# Define of max unkown Neighbors (0=disabled)
maxUnknownNeighbors=4

# Define the autopeering port of your hornet node (default = 14626/udp).
# Please note this is only recommended if you running more than one iota node in your network
autopeeringPort=14626

############################################################################################################################################
# DASHBOARD SETTINGS
############################################################################################################################################

# Define a username for the dashboard login
username=

# Set the passwordHash which you got with the hornet pwdhash tool
passwordHash=

# Set the passwordSalt which you got with the hornet pwdhash tool
passwordSalt=

############################################################################################################################################
# SNAPSHOT SETTINGS
############################################################################################################################################

lsDelay=10000

############################################################################################################################################
# PRUNING SETTINGS
############################################################################################################################################

# Enable or disable pruning (true/false)
pruning=true

# Define how many milestones should be stored on your node
pruningDelay=60480

############################################################################################################################################
# PLUGIN SETTINGS
############################################################################################################################################

# Enable plugins (seperated with a comma e.g: mqtt,spammer,etc.)
enablePlugins=

# Disable plugins (seperated with a comma e.g: mqtt,spammer,etc.)
disablePlugins=
