############################################################################################################################################################
# CONFIG FOR NGINX
############################################################################################################################################################

proxySwarmEndpoint=false

proxyIotaInxDashboardEnabled=false

proxyShimmerInxDashboardEnabled=false

# Set your domain or your ddns name
proxyIotaHornetUrl=""

proxyShimmerHornetUrl=""

proxyIotaInxDashboardUrl=""

proxyShimmerInxDashboardUrl=""

proxyGoshimmerUrl=""

############################################################################################################################################################

proxyAutomaticDeployment=true

############################################################################################################################################################
############################################################################################################################################################