############################################################################################################################################
############################################################################################################################################
# CONFIG FOR HORNET-SHIMMER
############################################################################################################################################
############################################################################################################################################

# Set "stable" for official release or "beta"/"alpha" for releases under development 
shimmerHornetRelease=""

# Set network "mainnet" or "testnet"
shimmerHornetNetwork=""

shimmerHornetAlias="SHIMMER-HORNET"

############################################################################################################################################
# POW SETTINGS
############################################################################################################################################

# Define if your node should do pow
shimmerHornetPowEnabled=false

# Define the numbers of cores to do pow (should be 4core CPU - 1 = 3) 
shimmerHornetPowWorkerCount=1

############################################################################################################################################
# API ACCESS
############################################################################################################################################

# Hornet JWT Token used by SWARM
shimmerHornetApiJwtToken=""

# Define the salt for generated JWT
shimmerHornetApiJwtSalt="HORNET"

# Hornet API public routes
shimmerHornetApiPublicRoutes="/health,/api/core/v2/info,/api/core/v2/tips,/api/core/v2/blocks*,/api/core/v2/transactions*,/api/core/v2/milestones*,/api/core/v2/outputs*,/api/core/v2/treasury,/api/core/v2/receipts*,/api/debug/v1/*,/api/indexer/v1/*,/api/mqtt/v1,/api/participation/v1/events*,/api/participation/v1/outputs*,/api/participation/v1/addresses*"

############################################################################################################################################
# DATABASE SETTINGS
############################################################################################################################################

# Set if the node automatically start revalidation on startup if the database is corrupted
shimmerHornetAutoRevalidation=false

# Enable or disable pruning (true/false)
shimmerHornetPruningEnabled=true

# Set the maximum size of the database
shimmerHornetPruningDatabaseSize=

# Set how much percent of history should be pruned from the database
shimmerHornetPruningPercentage=5

# Set the interval at which pruning is performed when the maximum DB size is reached.
shimmerHornetPruningCooldownTime=5

# Set the interval for creating a new snapshot
shimmerHornetSnapshotInterval=8640

############################################################################################################################################
# PLUGIN SETTINGS
############################################################################################################################################

# Enable plugins (seperated with a comma e.g: mqtt,spammer,etc.)
shimmerHornetEnablePlugins=""

# Disable plugins (seperated with a comma e.g: mqtt,spammer,etc.)
shimmerHornetDisablePlugins=""

shimmerHornetInxAddress="localhost:9030"

############################################################################################################################################
# PEERING SETTINGS
############################################################################################################################################

# Define the neighbor port of your hornet node (default = 15601/tcp).
# Please note this is only recommended if you running more than one iota node in your network
shimmerHornetGossipPort=15601

# Define the autopeering port for automatic neighbors
shimmerHornetAutopeeringPort=14636

# Define of max unkown Neighbors (0=disabled)
shimmerHornetUnknownPeersLimit=2

# Enable or disable node as entry node
shimmerHornetRunAsEntryNode=false

# Define your own private key for p2p (if empty SWARM will generate one for you)
shimmerHornetIdentity=""

############################################################################################################################################################
############################################################################################################################################################