############################################################################################################################################
############################################################################################################################################
# CONFIG FOR INX-PARTICIPATION
############################################################################################################################################
############################################################################################################################################

shimmerInxParticipationReleaseChannel="rc"

shimmerInxParticipationUpdateCheck=true

shimmerInxParticipationApiPublicRoutes="/api/participation/v1/events*,/api/participation/v1/outputs*,/api/participation/v1/addresses*"

############################################################################################################################################
############################################################################################################################################
