############################################################################################################################################################
# CONFIG FOR SWARM
############################################################################################################################################################

# OS architecture of the system
osArchitecture=""

# Enable or disable the update notifier for SWARM
updateNotifier=true

# Set a prefered theme for SWARM (default=milkyway, hlm, mars, oreo, aftereight, smint)
swarmTheme="default"

############################################################################################################################################################
# CONFIG FOR WATCHDOG
############################################################################################################################################################

# Enable or disable the auto updater for SWARM
swarmAutoUpdate=true

############################################################################################################################################################

# Enable or disable automatic updating for hornet with watchdog
hornetAutoUpdate=true
beeAutoUpdate=true
goshimmerAutoUpdate=true
waspAutoUpdate=true

# Define if the DB should not be deleted after multiple errors
hornetAllowDbReset=true
beeAllowDbReset=true
goshimmerAllowDbReset=true
waspAllowDbReset=false

############################################################################################################################################################

# Enable or disable the sync check of the node with watchdog
hornetCheckSync=true
beeCheckSync=true
goshimmerCheckSync=true

# Set the maximum difference between LMI and LSMI before the resync starts and a new database/snapshot is initialized
hornetMaxMilestones=360
beeMaxMilestones=360

############################################################################################################################################################

# Enable or disable the log pruning of SWARM
swarmLogRotation=true

# Set max log file size in MB
swarmLogSize=10

############################################################################################################################################################
############################################################################################################################################################
