[Unit]
Description=WASP
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/wasp
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wasp
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=wasp
WorkingDirectory=/var/lib/wasp
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/wasp $OPTIONS

[Install]
WantedBy=multi-user.target