<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>SWARM Dashboard</title>
</head>
<body>

    <div id="container">
    
    <a href="hornet/dashboard">
    <input type="image" src="./img/hornet_logo.svg" alt="Hornet Node" id="hornet_logo">
    </a>

    <a href="bee/dashboard">
    <input type="image" src="./img/bee_logo.svg" alt="Bee Node" id="bee_logo">  
    </a>

    <a href="goshimmer/dashboard">
    <input type="image" src="./img/goshimmer_logo.svg" alt="Goshimmer Node" id="goshimmer_logo">
    </a>

    <a href="wasp/dashboard">
    <input type="image" src="./img/wasp_logo.svg" alt="Wasp Node" id="wasp_logo">   
    </a>

    <a href="https://tanglebay.com" target="_blank">
    <input type="image" src="./img/tanglebay_logo.svg" alt="TangleBay Website" id="tanglebay_logo">
    </a>  

    </div>

</body>
</html>