[Unit]
Description=IOTA-INX-INDEXER
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/iota-inx-indexer
LimitNOFILE=8192
SyslogIdentifier=iota-inx
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/iota-inx-indexer
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/iota-inx-indexer $OPTIONS

[Install]
WantedBy=multi-user.target