[Unit]
Description=IOTA-INX-MQTT
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/iota-inx-mqtt
LimitNOFILE=8192
SyslogIdentifier=iota-inx-mqtt
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/iota-inx-mqtt
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/iota-inx-mqtt $OPTIONS

[Install]
WantedBy=multi-user.target