[Unit]
Description=INX-CHRONICLE
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/inx-chronicle
LimitNOFILE=8192
SyslogIdentifier=inx
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/inx-chronicle
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/inx-chronicle $OPTIONS

[Install]
WantedBy=multi-user.target