[Unit]
Description=INX-MQTT
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/inx-mqtt
LimitNOFILE=8192
SyslogIdentifier=inx
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/inx-mqtt
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/inx-mqtt $OPTIONS

[Install]
WantedBy=multi-user.target