[Unit]
Description=INX-PARTICIPATION
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/inx-participation
LimitNOFILE=8192
SyslogIdentifier=inx
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=inx
WorkingDirectory=/var/lib/inx-participation
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/inx-participation $OPTIONS

[Install]
WantedBy=multi-user.target