# Version 1
[Unit]
Description=GoShimmer
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/goshimmer
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=goshimmer
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=goshimmer
WorkingDirectory=/var/lib/goshimmer
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/goshimmer $OPTIONS

[Install]
WantedBy=multi-user.target