[Unit]
Description=Bee
After=network-online.target

[Service]
WorkingDirectory=/var/lib/bee
ExecStart=/usr/bin/bee -c config.toml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutSec=infinity
KillMode=process
Restart=on-failure
RestartSec=100
Type=simple
User=bee
Group=bee
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bee

[Install]
WantedBy=multi-user.target